body {
    font-family: sans-serif;
    margin: 20px;
    background-color: rgba(15, 20, 71, 0.514);
}

.Container {
   display: grid;
   place-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
